@model MVC_App.Domain.Models.CreateEditRelationVM

    <div id="create-form">
        <div class="form-horizontal">
            @using (Ajax.BeginForm("Create", "Relations", new AjaxOptions { HttpMethod = "POST", OnSuccess = "CreateOnSuccess" }, new { id = "CreateForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.Name, new { id = "Name", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Relation.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.FullName, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.FullName, new { id = "FullName", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Relation.FullName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.Email, new { id = "Email", @class = "form-control", type = "email" })
                        @Html.ValidationMessageFor(model => model.Relation.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.TelephoneNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.TelephoneNumber, new { id = "TelephoneNumber", @class = "form-control", type = "tel" })
                        @Html.ValidationMessageFor(model => model.Relation.TelephoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.CountryName, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Relation.CountryId, Model.Countries, new { id = "CountryId", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.City, new { id = "City", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Relation.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.Street, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.Street, new { id = "Street", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Relation.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.PostalCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Relation.PostalCode, new { id = "PostalCode", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Relation.PostalCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Relation.StreetNumber, new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Relation.StreetNumber, new { id = "StreetNumber", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Relation.StreetNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>