@model MVC_App.Domain.Models.CreateEditRelationVM

@{
    ViewBag.Title = "Create";
}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Relation</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <h2>Create</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <h4>RelationModel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Relation.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.FullName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Relation.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.Email, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(model => model.Relation.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.TelephoneNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.TelephoneNumber, new { @class = "form-control", type = "tel" })
                            @Html.ValidationMessageFor(model => model.Relation.TelephoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.CountryName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Relation.CountryId, Model.Countries, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.City, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.City, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Relation.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.Street, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.Street, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Relation.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.PostalCode, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Relation.PostalCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Relation.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Relation.StreetNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Relation.StreetNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Relation.StreetNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>