@model MVC_App.Domain.Models.RelationListVM

@{
    ViewBag.Title = "Index";

}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
           $(".relation-item").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}

<h2>Relation Grid</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "relation-item" })
    <input type="button" value="Create" class="btn btn-primary" />
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Category: </label>
        @Html.DropDownList("categoryId", Model.Categories as SelectList, new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortBy = "Name" , orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortBy = "FullName", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortBy = "Email", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Telephone Number", "Index", new { sortBy = "TelephoneNumber", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Country", "Index", new { sortBy = "Country", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortBy = "City", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Street", "Index", new { sortBy = "Street", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.ActionLink("Postal Code", "Index", new { sortBy = "PostalCode", orderBy = Model.OrderBy })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationViewModels.First().StreetNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RelationViewModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Countries.First(p => p.Id == item.CountryId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "relation-item" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "relation-item" })
            </td>
        </tr>
    }
</table>
