
@model MVC_App.Domain.Models.RelationListVM

@section scripts
{

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

}

    <br />
    <div id="relations">
        <table class="table">
            <tr>
                <th>
                    @Ajax.ActionLink("Name", "RenderRelationPartialView", new { sortBy = "Name", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("Full Name", "RenderRelationPartialView", new { sortBy = "FullName", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("Email", "RenderRelationPartialView", new { sortBy = "Email", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("Telephone Number", "RenderRelationPartialView", "Index", new { sortBy = "TelephoneNumber", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("Country", "RenderRelationPartialView", new { sortBy = "Country", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("City", "RenderRelationPartialView", new { sortBy = "City", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("Street", "RenderRelationPartialView", new { sortBy = "Street", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Ajax.ActionLink("PostalCode", "RenderRelationPartialView", new { sortBy = "PostalCode", orderBy = Model.OrderBy }, new AjaxOptions { UpdateTargetId = "relations" })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RelationViewModels.First().StreetNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.RelationViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelephoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Countries.First(p => p.Value == item.CountryId.ToString()).Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostalCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetNumber)
                    </td>
                    <td>
                        @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions { }, new { @class = "edit-modal" }) |
                        @Ajax.ActionLink("Delete", "Delete", new { id = item.Id }, new AjaxOptions { }, new { @class = "delete-modal" })
                    </td>
                </tr>
            }
        </table>
    </div>